.paranja
    z-index 100
    display block
    position fixed
    height 100%
    left 0
    top 0
    padding 0 3.2rem
    padding-top 20%
    color #FBFBFB

    .js__support_yes.js__good_yes.flex__support_yes &
        display none
