/*- common/contacts/.contacts.jn.css @ -*/
.contacts {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.contacts__line {
  border-bottom: 0.2rem solid rgba(255,255,255,0.1);
  padding: 0.8rem 0;
}
.contacts__left .contacts__line {
  padding-right: 3rem;
}
 
/*- @ common/contacts/.contacts.jn.css -*/
/*- common/tags/.tags.jn.css @ -*/
.link {
  cursor: pointer;
  text-decoration: underline;
}
.link,
.link:active,
.link:visited {
  color: #348abf;
}
.link:hover {
  color: #489ed3;
}
.link_inner {
  text-decoration: none;
  border-bottom: 1px dotted #348abf;
}
.link_inner:hover {
  border-bottom: 1px dotted #489ed3;
}
 
/*- @ common/tags/.tags.jn.css -*/
/*- desktop/columns/.columns.jn.css @ -*/
.columns {
  display: flex;
  width: 100%;
  color: #fbfbfb;
}
.columns__left,
.columns__right {
  flex: 1 1 50%;
  padding: 4.8rem;
}
.columns__left {
  background-color: #fbfbfb;
  color: #3f414e;
}
.columns__right {
  background-color: #3f414e;
  color: #dcdee0;
}
 
/*- @ desktop/columns/.columns.jn.css -*/
/*- desktop/box/.box.jn.css @ -*/
.box {
  padding: 3.2rem;
  letter-spacing: 1px;
}
.columns__left .box {
  background-color: #f17351;
  color: #fff;
}
.columns__right .box {
  border: 0.6rem solid #fbfbfb;
  color: #fbfbfb;
}
 
/*- @ desktop/box/.box.jn.css -*/
/*- desktop/about-techs/.about-techs.jn.css @ -*/
.about-techs .columns__left,
.about-techs .columns__right {
  padding-top: 6.4rem;
}
.about-techs .text {
  padding-top: 3.2rem;
}
 
/*- @ desktop/about-techs/.about-techs.jn.css -*/
/*- desktop/paranja/.paranja.jn.css @ -*/
.paranja {
  z-index: 100;
  display: block;
}
.js__support_yes.js__good_yes.flex__support_yes .paranja {
  display: none;
}
.paranja,
.paranja:before,
.paranja__bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.paranja:before {
  content: '';
  background-color: #010101;
  background-image: url("./desktop/paranja/assets/paranja__bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.paranja__bg {
  background-color: rgba(0,0,0,0.8);
}
.paranja__content {
  position: fixed;
  top: 30%;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  padding: 3.2rem;
  background-color: #3f414e;
  color: #fbfbfb;
  letter-spacing: 1px;
}
.paranja .link {
  color: #f17351;
}
 
/*- @ desktop/paranja/.paranja.jn.css -*/
/*- desktop/top/.top.jn.css @ -*/
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3f414e;
  color: #fbfbfb;
}
.top__hello {
  margin: 4.8rem;
  margin-bottom: 1rem;
  flex: 1 1 40%;
}
.top__contacts {
  margin: 4.8rem 0;
  margin-right: 4.8rem;
}
.top__photo {
  line-height: 0;
  width: 24rem;
}
.top__img {
  width: 24rem;
  min-height: 24rem;
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.top h2 {
  margin: 1rem 0;
  font-size: 2.8rem;
}
 
/*- @ desktop/top/.top.jn.css -*/
/*- desktop/menu/.menu.jn.css @ -*/
.menu {
  background-color: #3f414e;
  color: #fbfbfb;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  padding-bottom: 2.4rem;
}
.menu__item {
  flex-grow: 1;
  border-top: 0.4rem solid #fbfbfb;
  border-bottom: 0.4rem solid #fbfbfb;
}
.menu__item:hover {
  cursor: pointer;
  background-color: #494b58;
}
.menu__item_selected {
  border-top: 0.4rem solid #f17351;
  border-bottom: 0.4rem solid #f17351;
  color: #f17351;
}
 
/*- @ desktop/menu/.menu.jn.css -*/
/*- desktop/timeline/.timeline.jn.css @ -*/
.timeline {
  width: 100%;
}
.timeline__part {
  display: flex;
}
.timeline__left,
.timeline__right {
  flex: 1 1 50%;
  padding: 4.8rem;
  padding-bottom: 0;
}
.timeline__left {
  background-color: #fbfbfb;
  color: #3f414e;
  display: flex;
  justify-content: flex-end;
  padding-right: 0;
  border-right: 0.4rem solid #f17351;
}
.timeline__right {
  background-color: #3f414e;
  color: #dcdee0;
  padding-left: 0;
  border-left: 0.4rem solid #fbfbfb;
}
.timeline__position {
  font-weight: 600;
}
.timeline_first .timeline__left {
  border-top: 0.4rem solid #f17351;
}
.timeline_first .timeline__right {
  border-top: 0.4rem solid #fbfbfb;
}
.timeline_last .timeline__left {
  border-bottom: 0.4rem solid #f17351;
  padding-bottom: 4.8rem;
}
.timeline_last .timeline__right {
  border-bottom: 0.4rem solid #fbfbfb;
  padding-bottom: 4.8rem;
}
.timeline__desc,
.timeline__date {
  padding-top: 1.2rem;
}
.timeline__left .timeline__desc {
  padding-right: 4.8rem;
  border-top: 0.4rem solid #f17351;
  width: 100%;
}
.timeline__right .timeline__desc {
  padding-left: 4.8rem;
  border-top: 0.4rem solid #fbfbfb;
}
.timeline__desc div {
  margin-top: 0.8rem;
}
.timeline__date {
  display: inline-block;
  padding-top: 2rem;
}
.timeline__left .timeline__date {
  padding-right: 4.8rem;
  border-top: 0.4rem solid #f17351;
}
.timeline__right .timeline__date {
  padding-left: 4.8rem;
  border-top: 0.4rem solid #fbfbfb;
}
.timeline__label {
  letter-spacing: 0.1rem;
  font-style: italic;
  color: #f17351;
}
.timeline__left .timeline__label {
  color: #3f414e;
}
 
/*- @ desktop/timeline/.timeline.jn.css -*/
/*- desktop/footer/.footer.jn.css @ -*/
.footer {
  background-color: #3f414e;
  color: #fbfbfb;
}
.footer__content {
  padding: 4.8rem;
}
.footer p {
  margin-bottom: 2rem;
}
 
/*- @ desktop/footer/.footer.jn.css -*/
/*- desktop/document/.document.jn.css @ -*/
html {
  font-size: 10px;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 7px;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 6px;
  }
}
body {
  font-family: Verdana, Geneva, Tahoma, Arial, sans-serif;
  background-color: rgba(0,0,0,0.1);
  font-size: 18px;
  line-height: 28px;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 800px;
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
}
.content__center {
  max-width: 1280px;
}
.content:after {
  content: '';
  flex-grow: 1;
  max-width: 1280px;
  width: 100%;
  background-color: #3f414e;
}
.js__support_yes.js__good_yes.flex__support_yes .content {
  display: flex;
}
 
/*- @ desktop/document/.document.jn.css -*/
/*- desktop/double-box/.double-box.jn.css @ -*/
.double-box__left,
.double-box__right {
  max-width: 55%;
  padding: 3.2rem;
  float: left;
  position: relative;
}
.double-box__left {
  background-color: #f17351;
  z-index: 1;
  color: #fff;
}
.double-box__right {
  margin-left: 35%;
  margin-top: -16rem;
  border: 0.3rem solid #f17351;
  z-index: 0;
}
.double-box__gap {
  float: left;
  width: 35%;
  margin-right: 6rem;
  height: 12rem;
}
 
/*- @ desktop/double-box/.double-box.jn.css -*/
