.footer
    &__item
    .block__content
        padding-top 2rem

    &_last
        padding-bottom 2rem

    &__tech-name
        color #f17351

    &__splitter
        border-top 1px solid #f17351
        margin-top 2rem
