.block {
  background-color: #fbfbfb;
  color: #3f414e;
}
.block__title {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  line-height: 8rem;
  margin: 0 3.2rem;
  font-size: 3.2rem;
  letter-spacing: 1px;
  text-align: right;
}
.block__content {
  margin: 0 3.2rem;
  padding-bottom: 2.8rem;
}
.block_theme_dark {
  background-color: #3f414e;
  color: #dcdee0;
}
.block_theme_dark .block__title {
  text-align: start;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  color: #f17351;
}
.block_title_off .block__title {
  display: none;
}
.block_title_left .block__title {
  text-align: start;
}
