.contacts__line {
  display: flex;
  align-content: stretch;
}
.contacts__left,
.contacts__right {
  display: inline-block;
  flex: 1 1 50%;
  border-bottom: 0.2rem solid rgba(255,255,255,0.1);
  padding: 0.8rem 0;
}
.contacts__left {
  padding-right: 1rem;
}
