.contacts {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.contacts__line {
  border-bottom: 0.2rem solid rgba(255,255,255,0.1);
  padding: 0.8rem 0;
}
.contacts__left .contacts__line {
  padding-right: 3rem;
}
