.contacts
    &__line
        display flex
        align-content stretch

    &__left
    &__right
        display inline-block
        flex 1 1 50%
        border-bottom .2rem solid rgba(255, 255, 255, .1)
        padding .8rem 0

    &__left
        padding-right 1rem
