html
    font-size 10px

@media screen and (max-width: 1200px)
    html
        font-size 9px

@media screen and (max-width: 1024px)
    html
        font-size 7px

@media screen and (max-width: 900px)
    html
        font-size 6px

@media screen and (max-width: 700px)
    html
        font-size 5px

body
    font-family Verdana, Geneva, Tahoma, Arial, sans-serif
    background-color rgba(0, 0, 0, .1)
    font-size 2rem
    line-height 2.8rem

.content
    position absolute
    top 0
    left 0
    min-height 100%
    width 100%
    display none
    align-items center
    flex-direction column

    .js__support_yes.js__good_yes.flex__support_yes &
        display: flex;
