.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3f414e;
  max-width: 1280px;
  color: #fbfbfb;
}
.top__hello {
  margin: 4.8rem;
  flex: 1 1 40%;
}
.top__contacts {
  margin: 4.8rem 0;
  margin-right: 4.8rem;
}
.top__photo {
  line-height: 0;
  width: 24rem;
}
.top__img {
  width: 24rem;
  min-height: 24rem;
  height: 100%;
  background-size: 100% auto;
}
.top h2 {
  margin: 1rem 0;
  font-size: 2.8rem;
}
