.top
    display flex
    flex-direction row
    justify-content space-between
    background-color #3f414e
    max-width 1280px
    color #FBFBFB

    &__hello
        margin 4.8rem
        flex 1 1 40%

    &__contacts
        margin 4.8rem 0
        margin-right 4.8rem

    &__photo
        line-height 0
        width 24rem

    &__img
        width 24rem
        min-height 24rem
        height 100%
        background-size 100% auto

    h2
        margin 1rem 0
        font-size 2.8rem
