.top
    background-color #3f414e
    max-width 1280px
    width 100%
    color #FBFBFB

    &__container
        display flex
        flex-direction row
        justify-content space-between

    &__hello
    &__contacts
        margin 4.8rem

    &__contacts
        margin-left 0

    &__photo
        line-height 0
        min-width 24rem

    &__img
        width 24rem
        min-height 24rem
        height 100%
        background-size 100% auto

    h2
        margin 1rem 0
        font-size 2.8rem
