.contacts
    margin-top 1.6rem

    & :last-child
        .contacts__left
        .contacts__right
            border-bottom none

    .link
        text-decoration underline

        &_inner
            text-decoration none
