.contacts
    margin-top 1.6rem

    &__left
    &__right
        border-bottom .2rem solid rgba(0, 0, 0, .1)

    & :last-child
        .contacts__left
        .contacts__right
            border-bottom none
