.history {
  border-top: 1px solid #f17351;
}
.history__label {
  color: #3f414e;
  margin-bottom: 1.4rem;
}
.block_theme_dark .history__label {
  color: #fbfbfb;
}
.history__position {
  font-weight: 600;
  margin-bottom: 1.4rem;
}
.history__desc {
  font-style: italic;
}
.history__title {
  display: inline-block;
  padding-left: 3.2rem;
  border-top: 0.8rem solid #f17351;
}
.history.history_right .history__title {
  padding-left: 0;
  padding-right: 3.2rem;
}
.history .block__title {
  margin: 0;
  border-bottom: none;
}
.history.history_right .block__title {
  text-align: right;
}
