.history
    border-top 1px solid #f17351

    &__label
        color #3F414E
        margin-bottom 1.4rem
    
    .block_theme_dark &__label
        color #FBFBFB

    &__position
        font-weight 600
        margin-bottom 1.4rem

    &__desc
        font-style italic
    
    &__title
        display inline-block
        padding-left 3.2rem
        border-top .8rem solid #f17351
    
    &.history_right
        .history__title
            padding-left 0
            padding-right 3.2rem

    .block__title
        margin 0
        border-bottom none

    // .block__title:before
    //     content ''
    //     position absolute
    //     width 100%
    //     // margin-left 3.2rem
    //     height .8rem
    //     background-color #f17351
    //     margin-left -3.2rem
    //     margin-top -.8rem
    
    // &.history_right .block__title:before
    //     right 0
    //     // margin-right 3.2rem

    &.history_right .block__title
        text-align right
