.double-box__left,
.double-box__right {
  max-width: 55%;
  padding: 3.2rem;
  float: left;
  position: relative;
}
.double-box__left {
  background-color: #f17351;
  z-index: 1;
  color: #fff;
}
.double-box__right {
  margin-left: 35%;
  margin-top: -16rem;
  border: 0.3rem solid #f17351;
  z-index: 0;
}
.double-box__gap {
  float: left;
  width: 35%;
  margin-right: 6rem;
  height: 12rem;
}
