.double-box
    &__left
    &__right
        max-width 55%
        padding 3.2rem
        float left
        position relative

    &__left
        background-color #F17351
        z-index 1
        color #fff

    &__right
        margin-left 35%
        margin-top -16rem
        border .3rem solid #F17351
        z-index 0

    &__gap
        float left
        width 35%
        margin-right 6rem
        height 12rem