.about-techs
    display none
    background-color #3f414e
    color #FBFBFB
    padding-bottom 4.8rem
    flex-direction column

    .body_page_about-techs &
        display flex

    &__line
        display flex
        flex-direction row
        align-items center
        margin-bottom 2.4rem

    &__line:last-child
        margin-bottom 0

    &__left
        flex 1 1 30%
        margin-left 4.8rem
        color #f17351

    &__right
        flex 1 1 70%
        padding-right 4.8rem
        padding-left 2.4rem
