.menu
    background-color #3f414e
    color #FBFBFB
    display flex
    flex-direction row
    align-content stretch
    font-size 20px
    line-height 48px
    text-align center
    padding-bottom 2.4rem

    &__item
        flex-grow 1
        border-top .4rem solid #FBFBFB
        border-bottom .4rem solid #FBFBFB

        &:hover
            cursor pointer
            background-color rgb(73, 75, 88)

        &_selected
            border-top .4rem solid #f17351
            border-bottom .4rem solid #f17351
            color #f17351