.link {
  cursor: pointer;
  text-decoration: underline;
}
.link,
.link:active,
.link:visited {
  color: #348abf;
}
.link:hover {
  color: #489ed3;
}
.link_inner {
  text-decoration: none;
  border-bottom: 1px dotted #348abf;
}
.link_inner:hover {
  border-bottom: 1px dotted #489ed3;
}
