.link
    cursor pointer
    text-decoration underline

    &
    &:active
    &:visited
        color rgb(52, 138, 191)

    &:hover
        color rgb(72, 158, 211)

    &_inner
        text-decoration none
        border-bottom 1px dotted rgb(52, 138, 191)

    &_inner:hover
        border-bottom 1px dotted rgb(72, 158, 211)