.link
    cursor pointer
    text-decoration underline

    &
    &:active
    &:visited
        color #166ca1

    &:hover
        color #1c8ace

    &_inner
        text-decoration none
        border-bottom 1px dotted #166ca1

    &_inner:hover
        border-bottom 1px dotted #1c8ace